* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    scrollbar-width: none;
}

::selection {
    background: #000000; /* Safari */
    color: #fff;
}

::-moz-selection {
    background: #000000; /* Firefox */
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: min(100%, 2560px);
    margin: 0 auto;
}

header {
    grid-area: header;
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-shadow: 0 0 10px gray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        & .user {
            width: 50px;
            height: 50px;
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            & .avatarImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }

        & .user:hover {
            color: #000;
        }
    }
}

main {
    width: 100%;

    & .container {
        display: flex;
        margin: 1em auto;

        & nav {
            padding: 1em 1.5em;
            margin: 0 0 0 2em;
            box-shadow: 0 0 5px gray;
            border-radius: 8px;

            & ul {
                display: flex;
                flex-direction: column;
                gap: 1em;
                list-style: none;

                & li a {
                    display: grid;
                    grid-template-columns: 50px auto;
                    align-items: center;
                    padding: .5em;
                }

                & li a:hover {
                    background: black;
                    border-radius: 8px;
                    color: #fff;
                }
            }
        }

        & div {
            flex: 1;
        }
    }
}

.page {
    display: block;
    width: 100%;
    padding: 0 2em;

    & .infoCards {
        display: flex;
        justify-content: center;
        gap: 1em;
        user-select: none;

        & .infoCard {
            max-width: 450px;
            height: 250px;
            box-shadow: 0 0 5px gray;
            border-radius: 8px;
            display: flex;
            justify-content: flex-start;
            padding: .5em;
            font-size: 3em;
            position: relative;

            & span {
                position: absolute;
                bottom: 0;
                right: .1em;
                font-size: 4em;
                color: rgba(128, 128, 128, 0.5);
            }
        }

        & .infoCard:hover {
            background: #000;
            color: #fff;
        }
    }
}